# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Environment variables
.env
.venv
venv/
ENV/
env/

# IDE/System
.vscode/
.DS_Store

# Temporary old files
.next/
models.txt
node_modules/

